html {
    background-color: white;
}

nav {
    text-align:center;
    background-color: #729762;
    font-size: 1.3rem;
    font-weight: 600;
    padding:1px;
    margin-bottom:1px;
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    z-index: 1;
    border-bottom: 1px solid lightgray;
}

.base {
    position:absolute;
    top:45px;
    width:80%;
    margin-left: 10%;
    margin-top: 30px;
}

a {
    color:#1A4D2E;
}

nav a{
    color:#1A4D2E;
    
}

h1, h2, h3 {
    background-color: #E7F0DC;
    color: #1A4D2E;
    border: 1px solid lightgray
}

#title {
    border-bottom: 0px solid black;
}

#title-em {
    border-top: none;
}

h1 {
    text-align: center;
    margin:0;
}

h2 {
    text-align: center;
    margin:0px 0px 10px 0px;
}

h3 {
    text-align: center;
    margin:0px;
    padding-bottom: 5px;
}

#profile-pic {
    float:left;
    height: 200px;
    margin-right: 40px;
    border:solid 1px #1A4D2E;
}

#summarylist {
    height: 200px;
}

.section {
    margin-top: 10px;
}
